<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>ScarCord needs camera access for Discord video calls and streaming.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>ScarCord needs microphone access for Discord voice channels.</string>
</dict>
</plist>
